#
# See: Korossy, X. (1999) Modeling Knowledge as Competence and Performance.
#      In D. Albert & J. Lukas (eds.), Knowledge Spaces: Theories, Empirical
#      Research, and Applications (pp. 103-132).
#      Mahwah N.J.
#

sorts = {
         "natural number",
         "product of two natural numbers",
         "prime factorization of natural numbers",
         "prime factorization of the greatest common divisor of two natural numbers",
         "prime factorization of the least common multiple of two natural numbers",
         "all two factor decompositions of natural numbers",
         "all divisors of natural numbers",
         "common divisors of two natural numbers",
         "greatest common divisor of two natural numbers",
         "least common multiple of two natural numbers"
        }
